.calculator{
    background-color:black;
    height:430px;
    width:250px;
    margin:auto;
    padding:10px;
    border-radius:20px;
}

.display {
    color:white;
    background-color:#121212;
    height:100px;
    display:flex;
    justify-content: space-between;
    border-radius: 20px;
       
}
.icon{
     opacity:0.7;
}
.icon:hover{
    opacity:1;
}
.icon2 i{
    padding:0 5px 0 0;
}

.option{
    display:flex;
    flex-wrap:wrap;
    margin-top:10px;
}
.button1{
    height:50px;
    width:50px;
    border-radius:50%;
    color:white;
    text-align:center;
    font-size:20px;
    font-weight:550;
    border: none;
    outline: none;
    box-shadow: none;
    margin:5px;  
}
.number{
    background-color:#333333;
}
.operation{
    background-color:#4d4d4d;
   
}
 .button1:active {
    transform: scale(0.93);
}

.button1:hover {
    background-color: #4d4d4d;
    cursor: pointer;
}

#display{
    height:10px;
    width:100px;
    background-color:black;
    color:white;
    margin-left:150px;
    }
